.converter {
  margin: 0;
  padding: 0;
  transition: height 2s;
}

.conversion-form {
  margin: 0.5rem auto;
  padding: 0.5rem;
  top: min(9rem, 4vw + 3rem);

/* form-row */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.conversion-form > * {
  margin: min(2vw, 5px);
}

.input-word {
  max-width: min(30vw, 10rem);
  padding: min(1vw, .375rem) min(3vw, .75rem);
}
.input-word::placeholder {
  font-style: oblique;
}

.btn-convert {
  color: #fff;
  background-color: #4af;
  border-color: #4af;
  border-radius: .75rem;
  padding: min(1vw, .375rem) min(3vw, 1.25rem);
  font-weight: 500;
}
.btn-convert:hover {
  color: #fff;
  background-color: #38e;
  border-color: #27c;
}

.word {
  margin: 1rem 0;
  fill: #111;
  top: 30vh;
}

