.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to bottom, #5cd, #489);
}

.content {
  min-height: 80vh;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.8);
  margin: min(3rem, 5vw);
  margin-bottom: 1rem;
  padding: min(1rem, 3vw);
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 20px;
}

.sticky {
  position: sticky;
  height: auto;
/*  top: 0px;*/
  overflow: hidden;
}

.header {
  min-height: 4rem;
  padding: 0.5rem;
  top: 0px;
}

h1 {
  margin: 0.5rem;
  min-height: 0vw;
  font-size: min(5rem, calc(3vw + 2rem));
  font-weight: 500;
}

.footer {
  color: #eee;
  font-size: .9rem;
  font-weight: 300;
  padding-bottom: 1.2rem;
}
